* {

}

body {
	background-color: black;
	color: black;
	text-align: center;
}

h1 {
	text-align: center;
}

img {
	width: 30%;
}

a {
	color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffc300;
    color: black;
    text-align: center;
}

.container {
	background-color: #ffc300;
}